# ==== Python ====
__pycache__/
*.py[cod]
*.pyo
*.pyd
# virtual envs
/venv/
/.venv/
/env/

# ==== IDE / Editor ====
.idea/
.vscode/

# ==== OS / Misc ====
.DS_Store
Thumbs.db

# ==== Build / Output ====
*.mp4
*.mov
*.gif
